# Maven target folder
/target/
 
# IDE files
.idea/
*.iml
 
# Logs
*.log
 
# System files
.DS_Store
 
# Environment files
*.env
 
# Java class files
*.class
 
# IntelliJ
*.ipr
*.iws
 
# Package files
*.jar
*.war

# build files
/target
.classpath
